<!DOCTYPE html>
<head>
  <link rel="stylesheet" type="text/css" href="public/css/style.css" />
  <link href="https://fonts.googleapis.com/css?family=Cairo" rel="stylesheet" />
  <title>Login / Petsh</title>
</head>
<body>
  <div class="container">
    <div class="logo-container">
      <div class="logo-div">
        <img class="logo" src="public/img/logo.png" alt="logo" />
      </div>
      <div class="socials">
        <p>CHECK OUT OUR SOCIAL MEDIA PROFILES</p>
        <img
          class="logo-insta"
          src="public/img/logo-insta.svg"
          alt="logo-insta"
        />
        <img
          class="logo-twitter"
          src="public/img/logo-twitter.svg"
          alt="logo-twiter"
        />
        <img class="logo-fb" src="public/img/logo-fb.svg" alt="logo-fb" />
      </div>
    </div>
    <div class="logo-container-no-socials">
      <div class="logo-div">
        <img class="logo" src="public/img/logo.png" alt="logo" />
      </div>
    </div>
    <div class="login-container">
      <form>
        <div class="si-su">
          <button class="sign-in active">Sign In</button>
          <button class="sign-up">Sign Up</button>
        </div>
        <input class="login" type="text" placeholder="login" />
        <input class="password" type="password" placeholder="password" />
        <button class="confirm">CONFIRM</button>
      </form>
    </div>
    <div class="animals-container">
      <img class="animals" src="public/img/animals.png" alt="animals" />
    </div>
    <div class="animals-container-socials">
      <div class="logos">
        <img
          class="logo-insta"
          src="public/img/logo-insta.svg"
          alt="logo-insta"
        />
        <img
          class="logo-twitter"
          src="public/img/logo-twitter.svg"
          alt="logo-twiter"
        />
        <img class="logo-fb" src="public/img/logo-fb.svg" alt="logo-fb" />
      </div>

      <img class="animals" src="public/img/animals.png" alt="animals" />
    </div>
  </div>
</body>
