input[type="color"] {
	border: none;
	width: 32px;
	height: 32px;
  border-radius: 15%;
  background: white;
  margin-bottom: 6px;
  box-shadow: 1.5px 1.5px 1px 1px rgba(66, 68, 90, 0.4);
}

input[type="color"]:hover {
  cursor: pointer;
}

.container-navigation {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  padding: 0 20% 0 20%;
  width: 100%;
  height: 10%;
}

@media only screen and (max-device-width: 430px) {
  .container-navigation-darkmode {
    height: 2rem;
    left: 1%;
    top: 1%;
  }

  .container-navigation {
    height: 6%;
    order: 1;
  }

  .a-centered {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  input[type="color"] {
    margin-bottom: 2px;
  }
}