/* desktop version */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: "Cairo";
}

.main-text-mobile {
  display: none;
}

.index-container,
.search-container {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  background: url(../img/background.png);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.search-container {
  background: url(../img/full-background.png);
}

.nav-container {
  display: flex;
  width: 100%;
  height: 15%;
  align-items: center;
  justify-content: center;
}

.nav-container-mobile {
  display: none;
}

.nav-icons {
  display: flex;
  width: 50%;
  height: 100%;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.lens.active {
  opacity: 0.5;
}

.profile {
  margin: 0 10%;
}

.lens,
.profile,
.chat {
  cursor: pointer;
  height: 4.5rem;
}

.lens:hover,
.profile:hover,
.chat:hover {
  opacity: 0.5;
}

.cards-container {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 85%;
  align-items: center;
  justify-content: center;
}

.like,
.dislike {
  width: 10%;
  height: 10%;
  cursor: pointer;
}

.dislike-mobile,
.like-mobile {
  display: none;
}

.card {
  width: 25rem;
  height: 40rem;
  margin: 0 1% 5% 1%;
  background: #215254;
  box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.25);
  border-radius: 15px;
  display: flex;
  flex-direction: column;
}

.photos {
  height: 80%;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.person {
  height: 50%;
  width: 100%;
}

.animal {
  height: 50%;
  width: 100%;
}

.description {
  height: 20%;
  width: 100%;
  color: white;
  line-height: 2rem;
  padding: 4% 0 0 3%;
}

.person-info,
.animal-info {
  font-size: 1.5rem;
}

.person-age,
.animal-age {
  opacity: 0.6;
}

.city-info {
  opacity: 0.6;
}

.index-logo-container {
  width: 100%;
  height: 30%;
}

.index-main-container,
.index-main-container-si-su {
  width: 100%;
  height: 30%;
  color: white;
  text-align: center;
  font-size: 1.5rem;
  padding: 5rem 0 0 0;
}

.index-bottom-container {
  width: 100%;
  height: 40%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.index-logo {
  /* position: fixed; */
  padding: 2% 0 0 5%;
  height: 10rem;
  width: auto;
  filter: drop-shadow(5px 5px 15px rgba(0, 0, 0, 0.25));
  cursor: pointer;
}

.index-animals {
  /* position: fixed; */
  bottom: 5%;
  right: 10%;
  height: 15rem;
  width: auto;
  filter: drop-shadow(5px 5px 15px rgba(0, 0, 0, 0.25));
}

.animals-container {
  display: flex;
  width: 50%;
  height: 100%;
  justify-content: flex-end;
  align-items: flex-end;
  padding: 0 5% 3% 0;
}

.index-socials {
  justify-content: flex-start;
  align-items: flex-start;
  height: 18rem;
  width: 50%;
  filter: drop-shadow(5px 5px 15px rgba(0, 0, 0, 0.25));
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
  padding: 5% 0 0 2%;
}

.social-logos {
  display: flex;
  flex-direction: row;
  height: 100%;
  width: 50%;
  justify-content: space-between;
  padding: 0 5%;
  align-items: center;
}

.insta-logo-index,
.twitter-logo-index,
.fb-logo-index {
  /* position: fixed; */
  width: auto;
  height: 45%;
  align-items: center;
  cursor: pointer;
}

.index-buttons-container,
.index-buttons-container-si-su {
  height: 15%;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 1% 0 5% 0;
}

.su-button,
.si-button {
  width: 10rem;
  height: 3.5rem;
  border-radius: 1rem;
  outline: none;
  border: none;
  margin: 1rem;
  filter: drop-shadow(5px 5px 15px rgba(0, 0, 0, 0.25));
  color: #2e6969;
  font-size: 1.3rem;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
}

.petsh-text {
  font-family: "Bluetea";
}

.main-text {
  font-weight: lighter;
  text-shadow: 5px 5px 15px rgba(0, 0, 0, 0.25);
  font-size: 1.8rem;
  font-weight: 100;
}

.bold-text {
  font-weight: bold;
}

.upper-text {
  font-size: 2.8rem;
  font-weight: 100;
}

.si-su {
  display: flex;
  flex-direction: row;
  width: 50%;
  align-items: center;
  justify-content: center;
}

.login-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  justify-content: center;
}

.log-pas-conf {
  display: flex;
  flex-direction: column;
  width: 50%;
  align-items: center;
  justify-content: center;
}

.sign-in,
.sign-up {
  width: 11rem;
  height: 3rem;
  background: white;
  border: none;
  outline: none;
  font-size: 1.4rem;
  color: #2e6969;
  filter: drop-shadow(5px 5px 15px rgba(0, 0, 0, 0.25));
  cursor: pointer;
}

.login,
.password,
.email,
.repeat-password {
  height: 3rem;
  width: 22rem;
  padding-left: 1rem;
  border-radius: 15px;
  border: none;
  outline: none;
  filter: drop-shadow(5px 5px 15px rgba(0, 0, 0, 0.25));
  font-size: 1rem;
  color: #2e6969;
}

.login::placeholder,
.password::placeholder,
.repeat-password::placeholder,
.email::placeholder {
  color: #2e696980;
}

.sign-in {
  border-radius: 15px 0 0 15px;
}

.sign-in.active,
.sign-up.active {
  background: #ffffff70;
  cursor: pointer;
}

.sign-up {
  border-radius: 0 15px 15px 0;
}

.sign-up:hover,
.sign-in:hover {
  background: #ffffff70;
}

.si-button:hover,
.su-button:hover {
  background: #ffffff70;
  cursor: pointer;
}

input,
.si-su,
.confirm {
  margin: 0.6em;
}

.confirm {
  height: 3rem;
  width: 9rem;
  border-radius: 15px;
  border: none;
  outline: none;
  filter: drop-shadow(5px 5px 15px rgba(0, 0, 0, 0.25));
  margin-top: 1rem;
  font-size: 1.1rem;
  color: white;
  background: #2e6969;
  cursor: pointer;
}

.confirm:hover {
  background: #ffffff70;
  cursor: pointer;
}

@media only screen and (max-width: 720px) and (min-width: 431px) {
  .less-width-text {
    display: none;
  }

  .social-logos {
    flex-direction: column;
    padding: 0 0% 15% 0;
    /* height: 10%; */
  }

  .img-anchor {
    width: 50%;
  }

  .insta-logo-index,
  .twitter-logo-index,
  .fb-logo-index {
    height: 80%;
  }

  .card {
    width: 18rem;
    height: 30rem;
  }

  .description {
    padding: 0.5% 0 0 3%;
  }
}

/* mobile version */

@media only screen and (max-device-width: 430px) {
  .index-container {
    background-image: url(../img/background-mobile.png);
  }

  .search-container {
    background: url(../img/full-background-mobile.png);
  }

  .nav-container {
    display: none;
  }

  .nav-container-mobile {
    display: flex;
    height: 7%;
    width: 100%;
    align-items: center;
    justify-content: center;
  }

  .nav-icons {
    width: 50%;
    height: 100%;
  }

  .lens,
  .profile,
  .chat {
    height: 2.5rem;
  }

  .profile {
    margin: 0 25%;
  }

  .cards-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 93%;
    align-items: center;
    justify-content: center;
  }

  .likes-mobile {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }

  .dislike,
  .like {
    display: none;
  }

  .dislike-mobile,
  .like-mobile {
    display: flex;
    height: 80%;
    width: auto;
    margin: 0 5%;
  }

  .card {
    width: 20rem;
    height: 35rem;
    margin: 10% 1% 5% 1%;
  }

  .index-main-container,
  .index-main-container-si-su {
    padding: 10% 0 0 0;
    height: 25%;
  }

  .index-main-container-si-su {
    height: 50%;
  }

  .main-text {
    display: none;
  }

  .main-text-mobile {
    display: flex;
    flex-direction: column;
    line-height: 2.5rem;
  }

  .mobile-bold {
    font-weight: bold;
    font-size: 2.5rem;
  }

  .index-buttons-container {
    flex-direction: column;
    height: 25%;
    padding: 0 0 5% 0;
  }

  .index-buttons-container-si-su {
    height: 0%;
    width: 0%;
    padding-right: 5%;
  }

  .si-button {
    margin-bottom: 8%;
  }

  .si-button,
  .su-button {
    margin: 0.9rem;
    height: 3rem;
  }

  .index-animals {
    height: 8rem;
    margin-bottom: 0.5rem;
    display: none;
  }

  .animals-container {
    display: none;
  }

  .index-bottom-container {
    height: 15%;
  }

  .index-socials {
    width: 100%;
    justify-content: center;
    align-items: center;
    height: 100%;
    padding: 15% 0 0 0;
  }

  .social-logos {
    height: 8rem;
    width: 100%;
    padding: 10% 15% 0% 15%;
  }

  .insta-logo-index,
  .twitter-logo-index,
  .fb-logo-index {
    height: 80%;
  }

  .img-anchor {
    height: 100%;
    width: auto;
  }

  .index-logo {
    height: 7rem;
    padding: 0 0 0 0;
  }

  .index-logo-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 25%;
  }

  .sign-in,
  .sign-up {
    width: 8rem;
  }

  .login,
  .password,
  .email,
  .repeat-password {
    width: 16rem;
  }

  .confirm {
    width: 7rem;
  }
}
