* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-size: 15px;
}

body {
  font-family: 'Cairo';
}

:root {
  --first-color: #2e6969;
  --second-color: #1e4444;
  --desktop-background: url(../img/background.png);
  --desktop-background-full: url(../img/full-background.png);
  --mobile-background-full: url(../img/full-background-mobile.png);
}

.dark-mode {
  --first-color: #1a3b3b;
  --second-color: #1e4444;
  --desktop-background: url(../img/background-darkmode.png);
  --desktop-background-full: url(../img/full-background-dark.png);
  --mobile-background-full: url(../img/full-background-mobile-dark.png);
}

/* desktop version */

a:link,
a:visited {
  text-decoration: none;
}

.container,
.search-container {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  background: var(--desktop-background);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.container-main,
.container-main-login,
.container-main-register {
  width: 100%;
  height: 30%;
  color: white;
  text-align: center;
  padding-top: 5%;
}

.container-main-login,
.container-main-register {
  height: 40%;
  padding-top: 7%;
}

.container-main-login-buttons,
.container-main-register-buttons {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.container-main-login-buttons-signin,
.container-main-login-buttons-signup,
.container-main-register-buttons-signup,
.container-main-register-buttons-signin {
  width: 10rem;
  height: 3rem;
  background: white;
  border: none;
  outline: none;
  color: var(--first-color);
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
  filter: drop-shadow(5px 5px 15px rgba(0, 0, 0, 0.25));
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.4rem;
}

.container-main-login-buttons-signin:hover,
.container-main-login-buttons-signup:hover,
.container-main-register-buttons-signup:hover,
.container-main-register-buttons-signup:hover {
  background: #ffffff70;
  cursor: pointer;
}

.container-main-login-buttons-signin.active,
.container-main-login-buttons-signup.active,
.container-main-register-buttons-signup.active,
.container-main-register-buttons-signup.active {
  background: #ffffff70;
  cursor: pointer;
}

.container-main-login-buttons-signin,
.container-main-register-buttons-signin {
  border-radius: 1rem 0 0 1rem;
}

.container-main-login-buttons-signup,
.container-main-register-buttons-signup {
  border-radius: 0 1rem 1rem 0;
}

.container-main-login-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 12rem;
}

.container-main-register-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 20rem;
}

.container-main-login-form-username,
.container-main-login-form-password,
.container-main-register-form-username,
.container-main-register-form-email,
.container-main-register-form-password,
.container-main-register-form-repeat-password {
  margin-top: 1rem;
  height: 3rem;
  width: 20rem;
  border: none;
  border-radius: 1rem;
  outline: none;
  color: var(--first-color);
  filter: drop-shadow(5px 5px 15px rgba(0, 0, 0, 0.25));
  padding-left: 1rem;
}

.container-main-login-form-username::placeholder,
.container-main-login-form-password::placeholder,
.container-main-register-form-username::placeholder,
.container-main-register-form-email::placeholder,
.container-main-register-form-password::placeholder,
.container-main-register-form-repeat-password::placeholder {
  color: var(--first-color);
}

.container-main-login-form-submit,
.container-main-register-form-submit {
  height: 3rem;
  width: 9rem;
  margin-top: 1rem;
  border-radius: 1rem;
  border: none;
  outline: none;
  color: white;
  background: var(--first-color);
  filter: drop-shadow(5px 5px 15px rgba(0, 0, 0, 0.25));
}

.container-main-login-form-submit:hover,
.container-main-register-form-submit:hover {
  background: #ffffff70;
  cursor: pointer;
}

.container-main-text {
  text-shadow: 5px 5px 15px rgba(0, 0, 0, 0.25);
}

.container-main-text-mobile {
  display: none;
}

.container-main-text-upper,
.container-main-text-upper-bold {
  font-size: 4rem;
}

.container-main-text-upper-bold,
.container-main-text-lower-bold {
  font-weight: bold;
}

.container-main-text-lower,
.container-main-text-lower-bold,
.container-main-text-lower-petsh {
  font-size: 1.5rem;
}

.container-main-text-lower-petsh {
  font-family: 'Bluetea';
}

.container-buttons {
  display: flex;
  flex-direction: row;
  height: 10%;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.container-buttons-signin,
.container-buttons-signup {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 10rem;
  height: 3rem;
  background: white;
  border-radius: 1rem;
  border: none;
  outline: none;
  color: var(--first-color);
  text-align: center;
  cursor: pointer;
  font-size: 1.3rem;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
  filter: drop-shadow(5px 5px 15px rgba(0, 0, 0, 0.25));
}

.container-buttons-signin:hover,
.container-buttons-signup:hover {
  background: #ffffff70;
}

.container-buttons-signin {
  margin-right: 1%;
}

.container-buttons-signup {
  margin-left: 1%;
}

.search-container {
  background: var(--desktop-background-full);
}

.search-container-navigation-lens,
.search-container-navigation-profile,
.search-container-navigation-chat {
  height: 3.3rem;
  align-self: center;
}

.search-container-navigation-lens:hover,
.search-container-navigation-profile:hover,
.search-container-navigation-chat:hover {
  opacity: 0.5;
  cursor: pointer;
}

.search-container-cards {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 85%;
}

.search-container-cards-dislike,
.search-container-cards-like {
  width: 5rem;
  height: 5rem;
  cursor: pointer;
}

.search-container-cards-card {
  display: flex;
  flex-direction: column;
  min-width: 25rem;
  min-height: 35rem;
  border-radius: 1rem;
  background: var(--second-color);
  margin: 0 2% 0 2%;
  box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.25);
}

.search-container-cards-card-photos {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 80%;
}

.search-container-cards-card-photos-person,
.search-container-cards-card-photos-animal {
  width: 100%;
  height: auto;
}

.search-container-cards-card-description {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
  height: 20%;
  color: white;
  line-height: 2rem;
  padding-left: 5%;
}

.search-container-cards-card-description-person,
.search-container-cards-card-description-animal,
.search-container-cards-card-description-city {
  width: 100%;
  height: auto;
  font-size: 1.8rem;
}

.search-container-cards-card-description-person-name,
.search-container-cards-card-description-city-name {
  padding-left: 1.2%;
}

.search-container-cards-card-description-person-age,
.search-container-cards-card-description-animal-age {
  opacity: 0.6;
}

.search-container-cards-card-description-person-icon,
.search-container-cards-card-description-animal-icon,
.search-container-cards-card-description-city-icon {
  height: 1.1rem;
  margin-right: 1%;
}

.search-container-cards-mobile-likes {
  display: none;
}

.no-valid {
  background: #fc2929;
}

@media only screen and (max-width: 900px) and (min-width: 431px) {
  .container-main-text-lower {
    display: none;
  }

  .container-main-login,
  .container-main-register {
    padding-top: 15%;
  }

  .search-container {
    background: var(--mobile-background-full);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
  }

  .search-container-cards-card {
    min-width: 20rem;
  }
}

/* mobile version */

@media only screen and (max-device-width: 430px) {
  .container {
    background: var(--mobile-background-full);
  }

  .container-main {
    height: 30%;
  }

  .container-main-login,
  .container-main-register {
    padding-top: 30%;
    height: 70%;
  }

  .container-main-text {
    display: none;
  }

  .container-main-text-mobile {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    line-height: 2.5rem;
    font-size: 1.5rem;
    padding-top: 15%;
    text-shadow: 5px 5px 15px rgba(0, 0, 0, 0.25);
  }

  .container-main-text-mobile-bold {
    font-weight: bold;
    font-size: 2.5rem;
  }

  .container-buttons {
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 40%;
    padding-bottom: 35%;
  }

  .container-buttons-signin,
  .container-buttons-signup {
    margin-left: 0;
    margin-right: 0;
  }

  .search-container {
    background: var(--mobile-background-full);
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .search-container-navigation-lens,
  .search-container-navigation-profile,
  .search-container-navigation-chat {
    height: 2.5rem;
    width: 2.5rem;
  }

  .search-container-cards {
    order: 0;
    flex-direction: column;
    justify-content: space-evenly;
    height: 94%;
    width: 90%;
    padding-top: 8%;
  }

  .search-container-cards-card {
    margin: 0;
  }

  .search-container-cards-like,
  .search-container-cards-dislike {
    display: none;
  }

  .search-container-cards-mobile-likes {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }

  .search-container-cards-mobile-likes-like,
  .search-container-cards-mobile-likes-dislike {
    height: 5rem;
    width: 5rem;
  }

  .a-centered {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
