* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-size: 15px;
}

body {
  font-family: 'Cairo';
}

a:link,
a:visited {
  text-decoration: none;
}

:root {
  --first-color: #2e6969;
  --second-color: #1e4444;
  --desktop-background: url(../../img/background.png);
  --desktop-background-full: url(../../img/full-background.png);
  --mobile-background-full: url(../../img/full-background-mobile.png);
}

.dark-mode {
  --first-color: #1a3b3b;
  --second-color: #1e4444;
  --desktop-background: url(../../img/background-darkmode.png);
  --desktop-background-full: url(../../img/full-background-dark.png);
  --mobile-background-full: url(../../img/full-background-mobile-dark.png);
}

.animal-container {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  background: var(--desktop-background);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.animal-container {
  background: var(--desktop-background-full);
}

.animal-container-main {
  align-self: center;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  color: white;
  height: 50rem;
  width: 30rem;
  background: #ffffff50;
  border-radius: 15px;
}

.animal-container-main-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.animal-container-main-apply {
  height: 3rem;
  width: 9rem;
  margin-top: 1rem;
  border-radius: 1rem;
  border: none;
  outline: none;
  color: white;
  background: var(--first-color);
  filter: drop-shadow(5px 5px 15px rgba(0, 0, 0, 0.25));
}

.animal-container-main-apply:hover {
  cursor: pointer;
}

.animal-container-main-logout {
  height: 3rem;
  width: 9rem;
  margin-top: 1rem;
  border-radius: 1rem;
  border: none;
  outline: none;
  color: white;
  background: rgb(196, 49, 49);
  filter: drop-shadow(5px 5px 15px rgba(0, 0, 0, 0.25));
  display: flex;
  align-items: center;
  justify-content: center;
}

.animal-container-main-logout:hover {
  cursor: pointer;
}

.animal-container-main-photo,
.animal-container-main-name,
.animal-container-main-age,
.animal-container-main-city,
.animal-container-main-password {
  font-size: 1.5rem;
  height: 7rem;
  width: 17rem;
  border-radius: 1rem;
  text-align: center;
}

.animal-container-main-photo-form-update,
.animal-container-main-name-form-update,
.animal-container-main-age-form-update,
.animal-container-main-city-form-update,
.animal-container-main-password-form-update {
  /* border-radius: 0.5rem; */
  height: 2rem;
  padding-left: 1%;
  border: none;
  border-bottom: solid #eeeeee 0.1rem;
  background-color: transparent;
  outline: none;
  text-align: center;
  filter: drop-shadow(5px 5px 15px rgba(0, 0, 0, 0.25));
  text-shadow: 5px 5px 15px rgba(0, 0, 0, 0.25);
  color: white;
}

.animal-container-main-name-form-update::placeholder,
.animal-container-main-age-form-update::placeholder,
.animal-container-main-city-form-update::placeholder,
.animal-container-main-password-form-update::placeholder {
  color: white;
  opacity: 0.5;
}

.animal-container-main-photo {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}

input[type=file]::file-selector-button {
  height: 1.7rem;
  width: 6rem;
  margin-top: 1rem;
  border-radius: 1rem;
  border: none;
  outline: none;
  color: white;
  background: var(--first-color);
  filter: drop-shadow(5px 5px 15px rgba(0, 0, 0, 0.25));
}

input[type=file]::file-selector-button:hover {
  cursor: pointer;
}

.animal-container-main-photo-update {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  height: 100%;
  width: 50%;
  font-size: 1.5rem;
}

.animal-container-main-photo-update-input {
  height: 1.7rem;
  width: 6rem;
  margin-top: 1rem;
  border-radius: 1rem;
  border: none;
  outline: none;
  color: white;
  background: var(--first-color);
  filter: drop-shadow(5px 5px 15px rgba(0, 0, 0, 0.25));
}

.animal-container-main-photo-update-upload {
  height: 1.7rem;
  width: 6rem;
  margin-top: 1rem;
  border-radius: 1rem;
  border: none;
  outline: none;
  color: white;
  background: var(--first-color);
  filter: drop-shadow(5px 5px 15px rgba(0, 0, 0, 0.25));
}

.animal-container-main-photo-update-upload:hover {
  cursor: pointer;
}

.animal-container-main-photo-photo {
  height: 4rem;
  width: 4rem;
}

.animal-container-main-buttons {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.animal-container-main-buttons-person,
.animal-container-main-buttons-animal {
  width: 10rem;
  height: 3rem;
  background: white;
  border: none;
  outline: none;
  color: var(--first-color);
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
  filter: drop-shadow(5px 5px 15px rgba(0, 0, 0, 0.25));
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.4rem;
}

.animal-container-main-buttons-person:hover,
.animal-container-main-buttons-animal:hover {
  background: #ffffff70;
  cursor: pointer;
}

.animal-container-main-buttons-person.active,
.animal-container-main-buttons-animal.active {
  background: #ffffff70;
  cursor: pointer;
}

.animal-container-main-buttons-person {
  border-radius: 15px 0 0 0;
}

.animal-container-main-buttons-animal {
  border-radius: 0 15px 0 0;
}

@media only screen and (max-device-width: 430px) {
  .animal-container-main {
    height: 94%;
  }
}